body{
    margin: 0;
    padding:0;
    background-color: #e8e9eb;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
      overflow-x: hidden;

    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}



